node_modules
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.log
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
# Don't ignore build since we're building in Docker now
# build
public
# Keep src for building
# src